/* You can add global styles to this file, and also import other style files */
body {
  background-color: #0a4a82;
  background-image: url(https://d35aaqx5ub95lt.cloudfront.net/images/star-pattern.svg);
}

.btn-primary {
  color: #fff;
  background-color: #99CE28;
  border-color: #99CE28;
  font-weight: 600;
}

.btn-primary:hover {
  background-color: #86b422;
  border-color: #6b911b;
}

.vitoria {
  background-color: turquoise;
}

.derrota {
  background-color: red;
  width: 50em;
  height: 50em;
}

* {
  font-family: 'Poppins', sans-serif !important;
}